<div id="profile-form" class="col-md-10 col-md-offset-1">
<h2>Profile</h2>
<form>
{{#tab-view titles=section_titles data=section_data prefix="section" as |fields|}}
  {{#each field in fields}}
    {{profile-field question=field.question response=field.response.text register="register_field" action="editedField"}}
  {{/each}}
{{/tab-view}}
<div class="form-actions">
  <button class='save-changes btn btn-primary pull-right' type="submit" {{action 'saveChanges'}}>Save Changes</button>
  <button class='cancel-changes btn pull-right' type="button" {{action 'cancel'}}>Cancel</button>
</div>
</form>
</div>