<div id="profile-form" class="col-md-10 col-md-offset-1">
<h2>Profile</h2>
{{#if isCurrentUser}}
  {{profile-form profile=model didComplete='formEditingDidComplete' showingTransitionModal=showingTransitionModal}}
{{else}}
  {{profile-display profile=model}}
{{/if}}
</div>

