html, body {
  /*margin: 20px;*/
}

.masthead {
  background-image: url(/images/cropped-jmr11.jpg);
  height: 130px;
}

.navbar {
  border-radius: 0px;
}

textarea.new-post{
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

ul.recent-news {
  list-style: none;
  padding-top: 20px;
  padding-left: 0px;
}

li.news-item {
  border-top: #ccc solid 1px;
  padding-bottom: 12px;
  padding-top: 8px;
}

.newsitem-avatar {
  padding-right: 10px;
}

.newsitem-content {
  /*padding-left: 10px;*/
}

.newsitem-footer {
  clear: both;
}

.newsitem-header {
  color: #aaa;
  font-size: smaller;
  margin-bottom: 4px;
}