# See http://help.github.com/ignore-files/ for more about ignoring files.
.DS_Store

#server

# Ignore bundler config.
server/.bundle

# Ignore the default SQLite database.
server/db/*.sqlite3
server/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
server/log/*.log
server/tmp
