# See http://help.github.com/ignore-files/ for more about ignoring files.
.DS_Store

# compiled output
client/dist
client/tmp

# dependencies
client/node_modules
client/bower_components

# misc
client/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
client/npm-debug.log
client/testem.log




#server

# Ignore bundler config.
server/.bundle

# Ignore the default SQLite database.
server/db/*.sqlite3
server/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
server/log/*.log
server/tmp
