<div class='newsitem-avatar pull-left'>
  {{user-avatar user=item.user}}
</div>
<div class='newsitem-content'>
  <div class='newsitem-header'>
    {{link-to item.user.fullname 'user.profile' item.user}} posted an update {{timeSincePosted}}
  </div>
  <div class='newsitem-text'>{{text}}</div>
</div>
<div class='newsitem-footer'></div>
