{{#each profile.fields_by_section as |section|}}
  <div class='ro_section'>
    <h4>{{section.title}}</h4>
    <table>
      <tbody>
      {{#each section.fields as |field|}}
        {{#if field.response.text}}
          <tr class="profile-field-ro" id="question-{{field.question.id}}">
            <th>{{field.question.text}}</th>
            <td class="response-text">{{field.response.text}}</td>
          </tr>
        {{/if}}
      {{/each}}
      </tbody>
    </table>
  </div>
{{/each}}
