<div class='user-avatar pull-left'>
  {{user-avatar user=user}}
</div>
<div class='userpane-content'>
  <div class='userpane-header'>
    {{link-to user.fullname 'user.profile' user}}
  </div>
  {{!-- <div class='newsitem-text'>{{text}}</div> --}}
</div>
<div class='userpane-footer'></div>
