<h2>Sign in</h2>
<form>
  {{input class='username-field' value=identification placeholder='Email'}}
  {{input class='password-field' type='password' value=password placeholder='Password'}}
  <button class='signin' type="submit" {{action 'authenticate'}}>Sign in</button>
</form>
{{link-to 'Register' 'register' class='register'}}
