<h2>Profile</h2>
<form>
<ul class='profile-questions'>
{{!--   <li>
    Username:
    <span>{{username}}</span>
  </li>
  <li>
    Full name:
    <span class='fullname-field'>{{fullname}}</span>
  </li>
 --}}
  {{#each}}
    <li>
      {{partial 'profile-field'}}
    </li>
  {{/each}}
</ul>
<button class='save-changes btn btn-primary pull-right' type="submit" {{action 'saveChanges'}}>Save Changes</button>
</form>