<h2>Complete Registration</h2>
<p>Please just fill in the fields below to finish setting up your account.</p>
{{input class='fullname-field' value=fullname placeholder='Full name'}}
<button class='register' type="submit" {{action 'register'}}>Complete Sign Up</button>
