html, body {
  /*margin: 20px;*/
  background-color: #f1f1f1;
}

.masthead {
  background-image: url(/images/cropped-jmr11.jpg);
  height: 130px;
}

.navbar {
  border-radius: 0px;
}

textarea.new-post{
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

ul.recent-news {
  list-style: none;
  padding-top: 20px;
  padding-left: 0px;
}

li.news-item {
  border-top: #ccc solid 1px;
  padding-bottom: 12px;
  padding-top: 8px;
}

.newsitem-avatar {
  padding-right: 10px;
}

.newsitem-content {
  /*padding-left: 10px;*/
}

.newsitem-footer {
  clear: both;
}

.newsitem-header {
  color: #aaa;
  font-size: smaller;
  margin-bottom: 4px;
}

.login-pane {
  text-align: center;
  padding-top: 5%;
}

.login-pane .logo {
  padding: 22px;
}

.login-pane .message {
  margin: 15px 40px;
}

.login-pane form {
  background-color: white;
  padding: 30px 30px 60px 30px;
  text-align: left;
}

.login-pane .nav {
  text-align: left;
  margin: 15px 25px;
}

.login-pane .nav a {
  color: #999;
}

ul.profile-questions {
  list-style: none;
}

ul.profile-questions .help-block {
  font-size: smaller;
}

#profile-form .form-actions {
  margin-bottom: 20px;
}

#profile-form .save-changes, #profile-changes-dialog .save-changes {
  margin-left: 10px;
}

.tab-pane {
  padding-top: 20px;
}

.profile-field.edited input, .profile-field.edited textarea {
  background-color: #fffddd;
}

ul.members-list {
  list-style: none;
  padding-top: 20px;
  padding-left: 0px;
}

li.members-list-item {
  border-top: #ccc solid 1px;
  padding-bottom: 12px;
  padding-top: 8px;
}

.user-avatar {
  padding-right: 10px;
}

.userpane-content {
  /*padding-left: 10px;*/
}

.userpane-footer {
  clear: both;
}

.userpane-header {
  color: #aaa;
  margin-bottom: 4px;
}

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
