<h2>News & Needs</h2>
<form>
  <div>
    {{textarea class='new-post' value=content placeholder="What's up with you?"}}
  </div>
  <button class='add-post' type="submit" {{action 'create'}}>Post Update</button>
</form>
